#!/bin/bash

# Use completion for git.
source ~/script/completion/git-completion.bash
# Use completion for dub.
source ~/script/completion/dub-completion.bash

# Use git checkout aliases for gco
__git_complete gco _git_checkout
__git_complete make-pr _git_checkout
complete -F _filedir_xspec -X '@(*.pyc|__pycache__)' ga

# Use git branch completion for move-migrations
__git_complete move-migrations _git_checkout

# Stop GVim trying to open binary files.
complete -F _filedir_xspec -X '@(*.pyc|__pycache__)' gvim
# Don't complete with files from other shell dialects for source
complete -F _minimal -X '@(*.csh|*.fish|*.zsh|*.py)' source


# Set these settings if we aren't running on a Mac.
if ! [[ "$OSTYPE" =~ ^darwin ]]; then
    # Make completion case-insensitive
    bind "set completion-ignore-case on"
    # Show all of the options when completing
    bind "set show-all-if-ambiguous on"
    # Complete immediately to some available option, and allow cycling through
    # options, like in Vim.
    #
    # We'll start completion with the last match first, which is usually what
    # we want.
    bind 'TAB:menu-complete-backward'
    # Shift+Tab should go backwards.
    bind '"\e[Z":menu-complete'
fi
