#!/bin/bash

# Load completion functions for Bash, where available.
if [ -f /etc/bash_completion ]; then
    source /etc/bash_completion
fi

# Use completion for git.
source ~/script/completion/git-completion.bash
# Use completion for dub.
source ~/script/completion/dub-completion.bash

# Use git checkout aliases for gco
__git_complete gco _git_checkout
__git_complete make-pr _git_checkout

# Use git branch completion for move-migrations
__git_complete move-migrations _git_checkout

# Don't enable these rules on Mac, as the completion scripts aren't there.
if ! [[ "$OSTYPE" =~ ^darwin ]]; then
    # Stop GVim trying to open binary files.
    complete -F _filedir_xspec -X '@(*.pyc|__pycache__)' gvim
    # Stop the `git add` alias adding binary files.
    complete -F _filedir_xspec -X '@(*.pyc|__pycache__)' ga
    # Don't complete with files from other shell dialects for source
    complete -F _minimal -X '@(*.csh|*.fish|*.zsh|*.py)' source
fi

# Make completion case-insensitive
bind "set completion-ignore-case on"
# Show all of the options when completing
bind "set show-all-if-ambiguous on"
# Expand to a full match with tab completion.
bind 'TAB:menu-complete'
# Shift+Tab should go backwards.
# This has no effect on Mac OSX
bind '"\e[Z":menu-complete-backward'
